

<section>
    <div class="row"  style="background:#f5f5f5!important;">
        <div class="col-sm-offset-3 col-sm-9 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-8">
            <div id="filters" class="current_page_item" style="position: relative; width: 100%; padding: 18px 39px 40px;" >

                <button class="but product-button" data-filter="*">All</button>
                <button class="but product-button" data-filter=".branding">HOME</button>
                <button class="but product-button" data-filter=".web">OFFICE</button>
                <button class="but product-button" data-filter=".print">FURNITURE</button>
                <button class="but product-button" data-filter=".photo">MODERN</button>
                <button class="but product-button" data-filter=".classic">CLASSIC</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="izotope-container">
                <div class="grid-sizer"></div>
                <div class="item web classic">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div id="sliderFrame">
                            <div id="slider">
                                <img src="~/assets/img/product-details/slider1.jpg" alt="" />
                                <a class="lazyImage" href="~/assets/img/product-details/slider1.jpg" title="">slide 2</a>
                                <b data-src="~/assets/img/product-details/slider1.jpg" data-alt="">Image Slider</b>
                            </div>
                            <!--thumbnails-->
                            <div id="thumbs">
                                <div class="thumb"><img src="~/assets/img/product-details/controll2.jpg" /></div>
                                <div class="thumb"><img src="~/assets/img/product-details/controll11.jpg" /></div>
                                <div class="thumb"><img src="~/assets/img/product-details/controll.jpg" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 product-details-slider">
                        <div class="text-center margin-top50">
                            <h2 style="">Fishnet Chair</h2>
                            <h3 style="">Hot Deal</h3>
                            <h1 style=""><small class="product-details-small">$</small> 36.7<small class="product-details-small">/sq</small></h1>
                            <button class="btn btn-red button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                        </div>
                        <div class="details-padding">
                            <p>The majesty of Mountains - Ugmonk style </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nulla arcu, condimentum non interdum ac, tincidunt et est.</p>
                            <p>et dolote lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nulla arcu, condimentum non interdum ac, tincidunt et est. Pellentesque vitae dui porttitor. </p>
                            <p>Dus auto lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nulla arcu, condimentum non interdum ac, tincidunt et est. Pellentesque vitae dui porttitor. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--related-products-->
<section>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs  margin-bottom30">
                <li><h2 href="#" class="trending-font-1">Related Products</h2></li>
                <li class="pull-right"><a href="#" class="trending-font-right">Explore all <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-y="200px" data-move-x="-200px">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-11.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-y="200px" data-move-x="-100px">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-21.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-y="200px" data-move-x="100px">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-31.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
