
<header>
    <div class="row">
        <div class="col-sm-12">
            <!-- Responsive slider - START -->
            <div class="responsive-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="1">
                <div class="slides-container" data-group="slides">
                    <ul>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
                                            <h2 style="">Trending</h2>
                                            <h1 style="">fıshnet chair</h1>
                                            <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">
                                                <p>Seat and back with upholstery made of cold cure foam. Steel frame,<br>available in matt powder-coated black</p>
                                            </div>
                                            <div class="caption but" data-animate="slideAppearRightToLeft" data-delay="800" data-length="300">
                                                <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300">
                                            <h2>Trending</h2>
                                            <h1>fıshnet chair</h1>
                                            <div class="caption sub" data-animate="slideAppearRightToLeft" data-delay="800" data-length="300">
                                                <p>Seat and back with upholstery made of cold cure foam. Steel frame,<br>available in matt powder-coated black</p>
                                            </div>
                                            <div class="caption but" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">
                                                <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
                                            <h2>Trending</h2>
                                            <h1>fıshnet chair</h1>
                                            <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">
                                                <p>Seat and back with upholstery made of cold cure foam. Steel frame,<br>available in matt powder-coated black</p>
                                            </div>
                                            <div class="caption but" data-animate="slideAppearRightToLeft" data-delay="800" data-length="300">
                                                <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pages">
                    <a class="page" href="#" data-jump-to="1">1</a>
                    <a class="page" href="#" data-jump-to="2">2</a>
                    <a class="page" href="#" data-jump-to="3">3</a>
                </div>
            </div>
            <!-- Responsive slider - END -->
        </div>
    </div>
</header>
<div class="hidden-lg hidden-xs margin-top-140"></div>
<!--featured-product-->
<section>
    <div class="container">
        <div class="row">
            <div class="">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" class="tab-font-1" aria-controls="home" role="tab" data-toggle="tab">Featured</a></li>
                    <li role="presentation"><a href="#profile" class="tab-font-2" aria-controls="profile" role="tab" data-toggle="tab">New</a></li>
                    <li class="pull-right margin-top20"><a href="#" class="tab-font-right">Explore all <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="sliphover">
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <a href="#"></a>
                                <div class="det-img ellem" data-caption="<button type='button' class='btn btn-default btn-circle btn-lg'><i class='fa fa-chevron-right' aria-hidden='true'></i></button><a href='#'><h4 class='slip-h'>Fishnet Chair</h4><span class='slip-p'>Seat and back with upholstery<br>made of cold cure foam</span></a>">
                                    <img src="~/assets/img/portfolio/product-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <a href="#"></a>
                                <div class="det-img ellem" data-caption="<button type='button' class='btn btn-default btn-circle btn-lg'><i class='fa fa-chevron-right' aria-hidden='true'></i></button><a href='#'><h4 class='slip-h'>Fishnet Chair</h4><span class='slip-p'>Seat and back with upholstery<br>made of cold cure foam</span></a>">
                                    <img src="~/assets/img/portfolio/product-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <a href="#"></a>
                                <div class="det-img ellem" data-caption="<button type='button' class='btn btn-default btn-circle btn-lg'><i class='fa fa-chevron-right' aria-hidden='true'></i></button><a href='#'><h4 class='slip-h'>Fishnet Chair</h4><span class='slip-p'>Seat and back with upholstery<br>made of cold cure foam</span></a>">
                                    <img src="~/assets/img/portfolio/product-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <a href="#"></a>
                                <div class="det-img ellem" data-caption="<button type='button' class='btn btn-default btn-circle btn-lg'><i class='fa fa-chevron-right' aria-hidden='true'></i></button><a href='#'><h4 class='slip-h'>Fishnet Chair</h4><span class='slip-p'>Seat and back with upholstery<br>made of cold cure foam</span></a>">
                                    <img src="~/assets/img/portfolio/product-4.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <div class=" sliphover">
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <a href="#"></a>
                                <div class="det-img ellem" data-caption="<button type='button' class='btn btn-default btn-circle btn-lg'><i class='fa fa-chevron-right' aria-hidden='true'></i></button><a href='#'><h4 class='slip-h'>Fishnet Chair</h4><span class='slip-p'>Seat and back with upholstery<br>made of cold cure foam</span></a>">
                                    <img src="~/assets/img/portfolio/product-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <a href="#"></a>
                                <div class="det-img ellem" data-caption="<button type='button' class='btn btn-default btn-circle btn-lg'><i class='fa fa-chevron-right' aria-hidden='true'></i></button><a href='#'><h4 class='slip-h'>Fishnet Chair</h4><span class='slip-p'>Seat and back with upholstery<br>made of cold cure foam</span></a>">
                                    <img src="~/assets/img/portfolio/product-1.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <a href="#"></a>
                                <div class="det-img ellem" data-caption="<button type='button' class='btn btn-default btn-circle btn-lg'><i class='fa fa-chevron-right' aria-hidden='true'></i></button><a href='#'><h4 class='slip-h'>Fishnet Chair</h4><span class='slip-p'>Seat and back with upholstery<br>made of cold cure foam</span></a>">
                                    <img src="~/assets/img/portfolio/product-2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <a href="#"></a>
                                <div class="det-img ellem" data-caption="<button type='button' class='btn btn-default btn-circle btn-lg'><i class='fa fa-chevron-right' aria-hidden='true'></i></button><a href='#'><h4 class='slip-h'>Fishnet Chair</h4><span class='slip-p'>Seat and back with upholstery<br>made of cold cure foam</span></a>">
                                    <img src="~/assets/img/portfolio/product-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--promo-product-->
<section>
    <div class="row">
        <div class="col-sm-6 card-1 card-container">
            <ul>
                <li>
                    <div class="card-body">
                        <div class="container">
                            <div class="wrapper">
                                <div class="left-animation caption header">
                                    <h3>Exclusıve</h3>
                                    <h2>Fıshnet Chair</h2>
                                    <div class="caption sub">
                                        <p>Seat and back with upholstery made of cold cure foam.<br> Steel frame available in matt powder-coated black</p>
                                    </div>
                                    <div class="caption but">
                                        <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 card-2 card-container">
            <ul>
                <li>
                    <div class="card-body">
                        <div class="container">
                            <div class="wrapper">
                                <div class="right-animation caption header">
                                    <h3>Exclusıve</h3>
                                    <h2>Fıshnet Chair</h2>
                                    <div class="caption sub">
                                        <p>Seat and back with upholstery made of cold cure foam.<br> Steel frame available in matt powder-coated black</p>
                                    </div>
                                    <div class="caption but">
                                        <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--trending-products-->
<section>
    <div class="container">
        <div class="row">
            <ul class="nav nav-tabs margin-bottom30">
                <li><h2 href="#" class="trending-font-1">Trending Products</h2></li>
                <li class="pull-right"><a href="#" class="trending-font-right">Explore all <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-y="200px" data-move-x="-200px">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-11.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-y="200px" data-move-x="-100px">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-21.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-y="200px" data-move-x="100px">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-31.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-x="-500px" data-rotate="90deg">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-41.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-y="200px" data-move-x="-200px" data-rotate="45deg">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-5.jpg" alt="">
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4">
                <div class="det-img det-block" data-move-x="500px" data-rotate="-90deg">
                    <img class="shadow-1" src="~/assets/img/trending-product/product-6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--hot-deal-products-->
<section>
    <div class="row">
        <div class="col-sm-12">
            <!-- hot-deal-slider-parallax - START -->
            <div class="hot-deal-slider-parallax" data-spy="responsive-slider" data-parallax="true" data-parallax-direction="1">
                <div class="slides-container" data-group="slides">
                    <ul>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <div class="container">
                                    <div class="wrapper margin-top-60">
                                        <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
                                            <h2>Hot Deal</h2>
                                            <h1>fıshnet chaır</h1>
                                            <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">
                                                <p style="">Seat and back with upholstery made of cold cure foam. Steel frame,<br>available in matt powder-coated black</p>
                                            </div>
                                            <div class="caption but" data-animate="slideAppearRightToLeft" data-delay="800" data-length="300">
                                                <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <div class="container">
                                    <div class="wrapper margin-top-60">
                                        <div class="caption header" data-animate="slideAppearLeftToRight" data-delay="500" data-length="300">
                                            <h2>Hot Deal</h2>
                                            <h1>fıshnet chaır</h1>
                                            <div class="caption sub" data-animate="slideAppearRightToLeft" data-delay="800" data-length="300">
                                                <p>Seat and back with upholstery made of cold cure foam. Steel frame,<br>available in matt powder-coated black</p>
                                            </div>
                                            <div class="caption but" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">
                                                <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="slide-body" data-group="slide">
                                <div class="container">
                                    <div class="wrapper margin-top-60">
                                        <div class="caption header" data-animate="slideAppearRightToLeft" data-delay="500" data-length="300">
                                            <h2>Hot Deal</h2>
                                            <h1>fıshnet chaır</h1>
                                            <div class="caption sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300">
                                                <p>Seat and back with upholstery made of cold cure foam. Steel frame,<br>available in matt powder-coated black</p>
                                            </div>
                                            <div class="caption but" data-animate="slideAppearRightToLeft" data-delay="800" data-length="300">
                                                <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pages">
                    <a class="page" href="#" data-jump-to="1">1</a>
                    <a class="page" href="#" data-jump-to="2">2</a>
                    <a class="page" href="#" data-jump-to="3">3</a>
                </div>
            </div>
            <!-- Responsive slider - END -->
        </div>
    </div>
</section>
<!--exclusive-product-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 card-3 card-container">
                <ul>
                    <li>
                        <div class="card-body">
                            <div class="container">
                                <div class="wrapper">
                                    <div class="left-animation caption header">
                                        <h3>Exclusıve</h3>
                                        <h2>Fıshnet Chair</h2>
                                        <div class="caption sub">
                                            <p>Seat and back with upholstery made of cold cure foam.<br> Steel frame available in matt powder-coated black</p>
                                        </div>
                                        <div class="caption but">
                                            <button class="btn btn-default button-shadow">order us <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6" style="height: 580px!important;">
                <div class="col-xs-6 col-sm-6">
                    <div class="det-img det-block" data-move-y="200px" data-move-x="-200px">
                        <img class="img-responsive shadow-1" src="~/assets/img/exclusive-product/product-2-sm.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="det-img det-block" data-move-y="200px" data-move-x="200px">
                        <img class="img-responsive shadow-1" src="~/assets/img/exclusive-product/product-3-sm.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="det-img det-block" data-move-x="-500px" data-rotate="90deg">
                        <img class="img-responsive shadow-1" src="~/assets/img/exclusive-product/product-4-sm.jpg" alt="">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="det-img det-block" data-move-x="500px" data-rotate="-90deg">
                        <img class="img-responsive shadow-1" src="~/assets/img/exclusive-product/product-5-sm.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--mobil-app-->
<section class="margin-top60 margin-bottom-80">
    <div class="row">
        <div class="col-sm-12 card-4 card-container">
            <ul>
                <li>
                    <div class="card-body">
                        <div class="container">
                            <div class="wrapper">
                                <div class="left-animation caption header mobil-app">
                                    <h2 class="">Mobile app</h2>
                                    <h1 class="">Fınd.Follow.<br>Favorıte</h1>
                                    <div class="caption sub">
                                        <p class="">Save your favorites and share you style</p>
                                    </div>
                                    <div class="caption card-app-mobil">
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6">
                                                <a href="#">
                                                    <div class="det-img">
                                                        <img class="img-responsive shadow-2" src="~/assets/img/mobil-app/app-store.jpg" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-xs-6 col-sm-6">
                                                <a href="#">
                                                    <div class="det-img">
                                                        <img class="img-responsive shadow-2" src="~/assets/img/mobil-app/google-play1.jpg" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
